*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --schemeGradient : linear-gradient(90deg, #1B9AAA 0%, #495867 100%);
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

/*-------navbar--------*/
.brand{
  font-size: 2rem;
  color: #f7f7f7;
  transition: .3s linear all;
}
.brand:hover{
  text-decoration: none;
  color: #BDD5EA;
}
.logout-link{
  cursor:pointer;
}
.fa-bars{
  color: white;
}

.Navbar{
  background: #FE5F55;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 5px rgb(253, 14, 14);
  z-index: 1;
}

/*-------Cards--------*/

.cards {
  padding: 4rem;
  background: #F7F7ff;
}

.card {
  display: flex;
  flex-flow: row;
  align-items: center;
  max-width: 1120px;
  width: 70%;
  margin: 5rem auto;
  border-radius: 115px;
  box-shadow: 0 0 10px 5px rgb(41, 40, 40, 0.2);
}



@media screen and (max-width: 960px) {
  .card {
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 5rem auto;
    border-radius: 115px;
    box-shadow: 0 0 10px 5px rgb(41, 40, 40, 0.2);
  }
}

.btn {
  margin: 0 auto;
  margin-bottom: 2rem;
}


/*-------Main Section/ Home Page --------*/


video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  filter:opacity(85%);
}

.main-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0); */
  object-fit: contain;
}

.main-container > h1 {
  color: #fff;
  text-align: center;
  font-size: 100px;
  margin-top: -100px;
}

.main-container > p {
  margin-top: 8px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width: 960px) {

  .main-container > h1 {
      color: #fff;
      font-size: 70px;
      margin-top: -150px;
    }
    
}

@media screen and (max-width: 768px) {

  .main-container > h1 {
      color: #fff;
      font-size: 70px;
      margin-top: -150px;
    }
    
    .main-container > p {
      margin-top: 8px;
      color: #fff;
      font-size: 30px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
}

/*------- Nutrition --------*/



.main-image-container {
  background: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80') center center/cover no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  object-fit: contain;
}

.main-image-container > h1 {
  color: #fff;
  text-align: center;
  font-size: 100px;
  margin-top: -100px;
}

.main-image-container > p {
  margin-top: 8px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}


@media screen and (max-width: 960px) {

  .main-image-container > h1 {
      color: #fff;
      font-size: 70px;
      margin-top: -150px;
    }
    
}

@media screen and (max-width: 768px) {

  .main-image-container > h1 {
      color: #fff;
      font-size: 70px;
      margin-top: -150px;
    }
    
    .main-image-container > p {
      margin-top: 8px;
      color: #fff;
      font-size: 30px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    }
}



/*------- Workouts --------*/

.workouts-img {
  background: url('https://images.unsplash.com/photo-1597076537061-a6b58163aa45?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80') center center/cover no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  object-fit: contain;
}